.project {
    display: flex;
}

.project-bg{
    width: 25%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    border: 3px solid black;
}

.project-name{
    font-size: large;
    color: var(--primary);
}

.project-text{
    width: 75%;
}

@media only screen and (max-width: 1300px) {
    .project-bg {
        display: none;
    }
    .project-text, .project-name{
        margin-left: 5%;
    }
}