.contact-header{
    color: var(--primary);
    text-align: center;
    font-size: larger;
    margin-top: 5%;

}

.contact-info{
    text-align: center;
    font-size: x-large;

}

.icons{
    text-align: center;
    margin-bottom: 7%;
}

.react-icons{
    vertical-align: middle;
    margin-right: 2%;
}