body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #F4A261;
  --secondary: #696e7e;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #799FBA;
  --darker: #1F3B60;
  --alpha: rgba(255,255,255,.7);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

.section-header{
  font-size: 30px;
  margin-left: 2%;
  text-decoration-line: underline;

}
/* HEADER SECTION */
img {
  width: 100%;
  height: 50rem;
}

@media only screen and (max-width: 1300px) {
  img {
      height: auto;
  }
}

@media only screen and (max-width: 900px) {
  img {
      height: auto;
  }
}


/* NAV SECTION */
nav {
  position: absolute;
  bottom: 0%;
  left: 0%;
  color: whitesmoke;
  font-size: 2.5rem;
  margin-right: 5%;
}

nav a:hover {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.navActive {
  color: var(--secondary);
  cursor: default;
  text-shadow: 3px 3px 15px rgba(255,255,255, .5);
}

@media only screen and (max-width: 1300px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 2rem;
    color: black;

  } 
}
@media only screen and (max-width: 900px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 1.3rem;
    color: black;

  }
 
}



/* ABOUT ME SECTION */
.about {
  width: 100%;
  height: auto;
  margin: 5%;

}
.flex{
  display: flex;
}


.about-text {
  /* text-align: center; */
  font-size: larger;
  margin: 5%;
}
@media only screen and (max-width: 1300px) {
  img {
      height: auto;
  }
}

@media only screen and (max-width: 900px) {
  img {
      height: auto;
  }
}

/* PROJECT SECTION */
.project{
  font-size: large;
  
}