body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #F4A261;
  --secondary: #696e7e;
  --light: whitesmoke;
}


.flex{
  display: flex;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
/* Page */
.section-header{
  font-size: 30px;
  margin-left: 2%;
  text-decoration-line: underline;

}

/* HEADER SECTION */
img {
  width: 100%;
  height: 47rem;
}

@media only screen and (max-width: 1300px) {
  img {
      height: auto;
  }
}

@media only screen and (max-width: 900px) {
  img {
      height: auto;
  }
}


/* Footer */
footer{
  text-align: center;
  color: var(--primary);
}